div {
    border-width: 2px;
    border-color: red;
    border-style: solid;
    border-radius: 10px;

    padding: 10px;

    margin: 20px;

    background-color: whitesmoke;
}

#parent {
    background-color: red;
    position: absolute;

}

.pageLinks {
    border-width: 4px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;

    position: sticky;
    top: 5px;

    background-color: whitesmoke;

    margin-left: auto;
    margin-right: auto;
}

.jobTitles {
    padding: 20px;
    grid-column: 1;
    grid-row: 1;
}

.jobDesc {
    padding: 20px;
    grid-column: 2/3;
    grid-row: 1/3;
}

.learned {
    padding: 20px;
    grid-column: 1;
    grid-row: 2;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    border-width: 4px;
    border-color: black;
}

body {
    background-color: black;
}

.tabs {
    border-collapse: collapse;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 25px auto;
   
}

.tabs th {
    padding-left: 40px;
    padding-right: 40px;
    font-size: x-large;

}

.tabs  {
   
}

a:link {
    color: black;
}

a:visited {
    color: grey;
}

a:hover {
    color: red;
}
